/*                                              Index

1. Main Container Body
2. Nav Bar Header
3. About Us
4. Product
5. Carousel
6. Contact Us */


/* Main Container Body */
:root {
  --whitecollar: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
    padding: 0 10px;
    overflow-x: hidden;
  }
  .main-container{
    background-color: #a3ebf6;
    padding: 0 50px;
  }
  
  ul li{
    text-decoration: none !important;
  }

.side-button{
  position: relative;
  top: 200px;
  display: none;
}

.flex-class {
  display: flex;
  justify-content: center;
}

.main-border {
  border: 32px solid white;
  width: 100%;
  border-top: none !important;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /* animation: 6s main-border infinite; */
}

.nav-part-2{
  display: none !important;
}

/* animation */
@keyframes main-border {
  0%{
    border: 25px solid rgb(131, 9, 0);
    border-color: rgb(92, 2, 2);
  }
  25%{
    border: 25px solid red;
    border-color: red;
  }
  50%{
    border: 25px solid yellow;
    border-color: yellow;
  }
  75%{
    border: 25px solid black;
    border-color: black;
  }
  100%{
    border: 25px solid blue;
    border-color: blue;
  }
}



/* Nav Bar Header */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.nav nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav nav ul {
  width: 400px;
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 10px;
  list-style: none;
}

.nav nav ul li {
  padding: 16px 16px;
  cursor: pointer;
  margin-top: 5px;
}

.nav nav ul li a {
  text-decoration: none;
  color: black;
}

.nav .left, .nav .right {
  position: relative;
  transform-origin: left;
  transform: translate(8.2rem, -0.8rem) rotate(45deg);
  transition: 0.6s all;
  box-shadow: 3px 2px 11px 5px rgba(85, 85, 85, 0.8);
  background-color: var(--whitecollar);
  border-radius: 8px 12px 15px 13px;
  animation: 6s border-animate infinite;
}

.nav nav .image {
  height: 100%;
  width: 100px;
}

.nav nav .image img {
  width: 180px;
  position: relative; 
  margin-left: -4rem;
  transition: .5s all linear;
  z-index: 100;
}

.top-class {
  top: 0px !important;
}

.nav .right {
  transform-origin: right;
  transform: translate(-8.2rem, -0.8rem) rotate(-45deg);
  box-shadow: rgb(109 80 80 / 80%) -2px 2px 4px 5px;
}

.line1,
.line2 {
  background-color: var(--whitecollar);
  width: 100%;
  z-index: -1;
  text-indent: 100%;
  overflow: hidden;
  text-decoration: none;
  transition: 1s all;
  animation: 6s border-animate infinite;
  /* box-shadow: -4px 4px 10px 0px rgba(65, 65, 65, 0.9); */
}

.line1,.line2 {
  height: 3.2rem;
  transform-origin: right;
  transform: translate(10rem, 2rem) rotate(0.9turn);
  padding: 4px 0px;
  min-width: 30%;
  opacity: 1;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 15px;
}

.line2 {
  transform: translate(-10rem, 2rem) rotate(-0.9turn);
  transform-origin: left;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 15px;
}

.lining {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* back of collar */
.back-collar {
  box-shadow: 0px 1px 8px 7px rgb(75, 75, 75, 0.7);
  z-index: -2;
  position: absolute;
  height: 130px;
  width: 37em;
  animation: 6s border-animate infinite;
  background: var(--whitecollar);
 

}

.back-collar-add {
  background: none;
  border: none;
  animation: none !important;
  box-shadow: none;
}

.left-add,.right-add {
  transform: translate(0) !important;
  background-color: transparent !important;
  font-size: 20px !important;
  border-radius: 1rem !important;
  height: auto !important;
  margin: 0px !important;
  padding: 0px !important;
  position: relative !important;
  top: 0px;
  border: none !important ;
  animation: none !important;
  box-shadow: 0px 0px 0px 0px !important;
}

.line1-add {
  transform: translate(0) scale(1);
  opacity: 0;
}

.line2-add {
  transform: translate(0) scale(1);
  opacity: 0;
}

.right-nav-add {
  margin: 13px !important;
  padding: 0px !important;
  height: 65px !important;
}

.left-nav-add {
  animation: none !important;
  margin: 13px !important;
  padding: 0px !important;
  height: 60px !important;

}

.logo-add {
  z-index: 1 !important;
  position: relative !important;
  top: 0px;
  border-radius: 5px;
}

.lining-add {
  background-color: rgba(255, 255, 255, 0.2) !important;
  z-index: 20 !important;
  position: relative !important;
  top: 18px;
  color: black;
  box-shadow: 0px 1px 18px 3px rgb(75, 75, 75, 0.7);
  backdrop-filter: blur(7px);
  border-radius: 1.3rem;
}


.flexing {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: min-content;


}

.collar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collar-button {
  animation: 6s border-animate infinite ;
  z-index: 4;
  position: relative;
  top: 310px;
  height: 330px;
  margin-bottom: 1rem;
  background-color: var(--whitecollar);
  box-shadow: 0px 1px 8px 5px rgb(70 70 70 / 74%);


}

.collar-button ul {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collar-button ul li {
  list-style: none;
  padding: 10px 0px;
  margin: 40px 12px;
}

.collar-button ul li img {
  border-radius: 50px;
  box-shadow: 0px 1px 8px 5px rgb(70 70 70 / 74%);
  height: 60px;
  width: 59px;
}

.collar-button-add {
  transform: translate(0) scale(1);
  opacity: 0;
  transition: 0.6s all;
}

.collar-adding {
  display: none;
}

.final-aboutus {
  margin: 13rem 1rem 5rem 1rem;
  padding: 3rem 1rem;
  box-shadow: 0px 3px 7px 1px rgba(255, 255, 255, 0.452);
  border-radius: 2rem;

}
.about-us-desc h2 {
  font-size: 3rem;
  box-shadow: 0px 0px 7px 2px rgba(133, 133, 133, 0.493);
  color: #a71c12;
  text-align: center;
}

.about-us-desc {
  padding: 4rem;
}

.final-aboutus .about-us {
  display: flex;
  justify-content: space-between;
}

.final-aboutus .card {
  border: 0px !important;
  --bs-card-bg: none;
}

.final-aboutus .pocket {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final-aboutus .card1-info {
  border: 13px solid #a0241c;
  height: 178px;
  width: 275px;
  position: relative;
  top: 34px;
}

.final-aboutus .card1 {
  border: 33px solid #a0241c;
  height: 322px;
  width: 297px;
  border-radius: 16px 16px 89px 89px;
}

.final-aboutus .container .card .icon {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 180%;
  /* background: #a0241c; */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  border-radius: 8px 8px 40px 40px; background-image: url(../images/redbg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
   border-style: dotted;
   display: flex;
   justify-content: center;
   align-items: center;
}

.resize_fit_center {
  top:50%;
  left: 40%;
  height: 140px;
  vertical-align: middle;
}

.final-aboutus .container .card .slide {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.final-aboutus .container .card .slide.slide1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: .7s;
  transform: translateY(-300px);
  border-style: dotted;
}


.final-aboutus .container .card .slide.slide2 {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: whitesmoke;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transition: .8s;
  transform: translateY(-185px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  border-radius: 10px 10px 0px 0px;
}

.final-aboutus .container .card:hover .slide.slide2 {
  transform: translateY(-300px);
}

.final-aboutus .container .card .slide.slide2::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: #2c73df;
}

.final-aboutus .container .card .slide.slide2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.final-aboutus .container .card .slide.slide2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  color: #414141;
}

.final-aboutus .cont {
  position: relative;
  top: 200px;
  right: 27px;
}


/* Product */
.product-main {
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 3px 7px 1px rgba(255, 255, 255, 0.452);
  padding: 0px 5px;
}
.product-main-head{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.product-head{

  border-radius: 5px;
  text-align: center;
  font-size: 23px;
  position: relative;
  padding: 2rem;
  top: 61px;
  box-shadow: 0px 0px 26px 3px #4141416c;
  font-weight: bold;
  color: #a71c12;
}
.pheading h1 {
  text-align: center;
  padding: 19px;
  margin: 0px 0px;
  font-size: 45px;
  color: #a0241c;
  box-shadow: 0px 0px 7px 2px rgb(133 133 133 / 49%);
}

.code-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  flex-wrap: wrap;
}

.code-wrapper .book {
  height: 25rem;
  width: 20rem;
  font-size: 1.4rem;
  box-shadow: 1rem 2rem 3rem rgba(#000, .25);
  text-align: center;
  position: relative;
  color: #484e4a;
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
}

.code-wrapper .page {
  width: 100%;
  height: 25rem;
  perspective: 1500px;
}

.code-wrapper .page .page__1 {
  background-color: #0D5C63;
  color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 1s .3s;
  transform-origin: 0 50%;
  z-index: 2;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.code-wrapper .page__1 p {
  position: absolute;
  color: black;
  font-weight: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  margin-top: 200px;
  margin-bottom: 15px;
  padding: 0 0 20px;
}
.code-wrapper .page__2 {
  background-color: #BAA898;
  width: 100%;
  height: 404.5px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: rgba(146, 33, 23, 0.37) 0px 8px 32px 0px;
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 42px

}

.code-wrapper .page__2 img {
  position: absolute;
  top: 10px;
  left: 0;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  object-fit: cover;
  margin: 5px 36px;
}

.code-wrapper .page__2 p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  margin-top: 300px;
  font-size: 15px;
  padding:0px 44px;
  color: #1a1a1a!important;
}

.code-wrapper .page__2 button {
  position: absolute;
  top: 60px;
  left: 110px;
  height: 40px;
  margin-top: 291px;
  border: none;
  font-size: 12px;
  background-color: #a0241c;
  border-radius: 6px;
  padding: 8px 16px;
  color: white;
}

.code-wrapper .page__2 button:hover {
 cursor: pointer;
  color: black;
}

.code-wrapper .page:hover .page__1 {
  transform: rotateY(-122deg);
  box-shadow: 1.5rem 2rem 3rem rgba(#000, .25);
}

.code-wrapper .page:hover .page::after {
  opacity: 1;
}

.code-wrapper .carousel {
  text-align: center;
  display: none;
  filter: blur(0px) !important;
  z-index: 5;
  box-shadow: 0px 0px 19px 0px black;
  border-radius: 23px;
}


.code-wrapper .book {
  margin-left: 10px;
}

.code-wrapper .blur {
  filter: blur(10px);
}

/* Carousel */
.carousel-effect {
  overflow: hidden;
  margin: 103px 0px;
}

.carousel-effect .main-card {
  margin: 35px 100px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 1057px;
    height: 405px;
}

.carousel-effect img {
  
  margin: 0px 0px 0px 1px;
  height: 196px;
  border-radius: 1% !important;
}

.carousel-effect .card-c {
  width: 290px;
}

.carousel-effect .card-body {
    margin: 9px 20px;
    padding: 0px!important;
}

.carousel-effect .zoom {
  padding: 30px;
  transition: transform .4s;
  height: auto;
  margin: -4px 26px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 36px;
}

.card-c button{
  color: white;
  margin: -7px 20px;
  padding: 8px 0px;
  background-color: rgb(83 167 189 / 62%);
  border: none;
  cursor: pointer;
  border-radius: 12px;
  font-weight: 500;
  font-size: 18px
}
.card-c button:hover{
  color: black;
  font-weight: bolder;

}

.carousel-effect .main-card:hover .owl-item {

  filter: blur(0px);
}

.close {
  position: absolute;
  top: 60px;
  right: 70px;
  font-weight: bolder;
  font-size: 26px;
  backface-visibility: visible;
  border: white;
  background: transparent;
  color: red;
  z-index: 3;
}

.p-info {
  margin: 3rem 0;
  background: url(../images/redbg.jpg);
  background-size: 100% 100%;
  display: flex;
  padding: 16px 20px;
  flex-wrap: wrap;
  border-radius: 1rem;
}
.p-info-flex{
  display: flex;
  flex-direction: column;
  margin: 22px 102px;
}
.p-info-head{
  font-size: 3rem;
  color:white;
}
.p-btn{
width: auto;
min-height: 2em;
padding: 16px 30px;
text-align: center;
background-color: #a71c12;
border: 2px solid white;
cursor: pointer!important;
color: white;

}
.p-discription{
  font-size: 20px;
  text-align: center;
  font-family: monospace;
  color: white

}

/* Contact Us */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

footer {
  width: 100%;
  background: url(../images/redbg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: white;
  margin-top:12px ;
}

.main-content {
  display: flex;
  padding: 2rem;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.box .content:before {
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}

.box .content:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: white;
  top: -10px;
}

.left .content p {
  text-align: justify;
}

.center .content .social {
  margin: 20px 0 0 0;
}

.center .content .social a {
  padding: 0 2px;
  color: white;
}

.center .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.center .content .social a span:hover {
  background: #f12020;
}

.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover {
  background: #f12020;
}

.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}

.center .content .phone {
  margin: 15px 0;
}

.content .map iframe {
  border-radius: 4px;
}


.bottom .center-text {
  padding: 5px;
  font-size: 0.9375rem;
  background: rgb(29, 29, 29);
}
.center-text{
  display: flex;
  justify-content: center;
}

.bottom .center-text span {
  color: white;
  margin: 0 0.2rem;
}

.bottom .center-text a {
  color: #f12020;
  text-decoration: none;
  margin: 0 0.2rem;
}

.bottom .center-text a:hover {
  text-decoration: underline;
}
.bottom .center-text a img{
  height: 3rem;
  width: 10rem;
  background: white;
  padding: 5px;
  border-radius: 10px;
}
.line-height{
  line-height: 50px;
}

.content .container {
  padding: 4rem 2rem;
}

.animate-top {
  position: relative;
  animation: animatetop 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.532);
}

.modal-content {
  margin: 8% auto;
  border: 1px solid #888;
  width: 475px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #006edb;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  margin-top: 0;
}

h5.modal-title {
  font-size: 1.25rem;
  color: #000000;
}

.close1 {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  margin-top: 0;
}

.modalbutton.close1 {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.modal-header .close1 {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

.close1:not(:disabled):not(.disabled) {
  cursor: pointer;
  width: 40px;
    height: 43px;
}

.modal-body {
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-body p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #006edb;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #1a1a1a;
  border-color: #1a1a1a;
  display: block;
  margin: 10px auto;
}

.btn-primary:hover {
  color: #fff;
  background-color: #f12020;
  border-color: #f12020;
}

.btn:focus,
.btn:hover {
  text-decoration: none;
}

.container h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.form-control {
  display: block;
  width: 95%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.bcollar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 53px 0px;
    padding: 65px 7px;
    box-shadow: 0px 3px 7px 1px rgba(255, 255, 255, 0.452);
}


.card3 {
  background-color: #F8F8F8;
  padding: 40px;
  margin:20px 0 10px 0;
  border-radius: 23px;
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.title3 {
  font-size: 31px;
  font-family: Merriweather;
  flex-grow: 1;
}

.average-rating {
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  color: white;
}

.average-rating-section {
  font-weight: 500;
  font-size: 14px;
  padding: 17px;
  background: url(../images/redbg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  border-radius: 15px;
  box-shadow: 0 7px 20px 0 rgba(115, 116, 156, .08);
  text-align: center;
  min-width: 150px;
  color:white;
}

.star-icon {
  width: 25px;
  height: 25px;
}

.average-rating-section .star-icon {
  width: 24px;
  height: 22px;
}

.star-icon .icon-path {
  fill: #FFD66C;
  stroke: #EFB153;
  font-size: 21px;
}

.header3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0px;
  margin-bottom: 6px;
}

.review-rows {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
  column-gap: 10px;
  row-gap: 9px;
  padding-left: 27px;
  padding-right: 30px;
  margin-top: 7px;
}

.review-section {
  margin-bottom: 56px;
}

.review-number {
  font-weight: bold;
  text-align: end;
  justify-self: flex-end;
}

.review-bar {
  --border-width: 1px;
  position: relative;
  flex-grow: 1;
  background-color: #EEEEEE;
  border: 1px solid #C9C9C9;
  height: 10px;
  border-radius: 100px;
}

.review-bar::after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--border-width));
  bottom: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  right: calc(-1 * var(--border-width));
  width: calc(2 * var(--border-width) + var(--width));
  border: 1px solid #EFB153;
  background-color: #FFD66C;
  border-radius: 100px;
}

.review-bar.empty::after {
  content: none;
}

.review-row:last-child {
  margin-bottom: 0;
}
/* review ends */
.card4 {
  backdrop-filter: blur(10px);
  background: rgba(252, 246, 246, 0.3);
  border-radius: 20px;
  height: 370px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  width: 350px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  margin-right: 90px;

}

.card4 img {
  background: rgba(252, 246, 246, 0.3);
  backdrop-filter: blur(30px);
  height: 100px;
  width: 100px;
}

.card4 h3 {
  font-size: 10px;
}

.overlay3{
  background: rgb(91 213 249 / 55%);
  position:absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.reviews-main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 22px;
}


.card3{
  max-width: 50em;
  height: 29em;
  margin: 21px 4px;
}