@media (max-width: 1076px) {
    .final-aboutus .about-us .info {
        justify-content: space-around;
        margin-left: 0px;
        width: 450px;
        left: 0;
    }
    footer .main-content{
        flex-direction: column;
    }
    .final-aboutus .cont{
        right: 0px;
    }
   
}


@media (max-width:992px) {
    .final-aboutus .about-us {
        flex-wrap: wrap;
    }

    .final-aboutus .about-us .info {
        flex-wrap: wrap;
        /* width: auto !important; */
        height: auto !important;
    }

}


@media(max-width:976px) {

    .nav nav .left,
    .nav nav .right {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0;
        padding: 0;
    }

    .nav nav .image img {
        top: 80px;
    }
    .nav nav .left{
        transform: translate(127px, -21px) rotate(45deg);
    }
    .nav nav .right{
        transform: translate(-127px, -21px) rotate(-45deg);
    }
    .back-collar{
        height: 58px;
        width: 31em;
    }
    .collar-button{
        top: 235px;
        height: 200px;
        width: 82px;
    }
    .collar-button ul{
        height: 100%;
    }
    .collar-button ul li{
        margin: 19px 6px;
    }
    .collar-button ul li img{
        height: 50px;
        width: 50px;
    }

    .nav nav ul {
        width: 330px;
        margin: 0;
        padding: 0;
    }

    .bcollar {
        justify-content: center;
    }

    .centering {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .final-aboutus .cont {
        margin-bottom: 30px;

    }

    .final-aboutus .about-us .info {
        width: 450px !important;
    }
    .card3 {
        margin-left: 0;
    }
}

 @media (max-width:768px) {
  
    .nav nav .left-nav-add li,.nav nav .right-nav-add li{
        padding: 2px 11px;
    }
    
    .nav nav .left-nav-add{
        width: 230px !important;
        font-size: 16px;
        padding: 0px !important;
        margin: 0px !important;
    }
    .nav nav .right-nav-add{
        width: 241px !important;
        margin: 0px !important;
        padding: 0px !important;
        font-size: 16px;
    }
    .logo-add{
        height: 100% !important;
        width: auto !important;
        display: flex;
        justify-content: center;
    }
    .logo-add img{
        height: 50px !important;
        width: 50px !important;
    }
    .final-aboutus .about-us{
        justify-content: center;
    }
} 

@media(max-width:576px) {
    body{
        /* border: 10px solid black;
        z-index: 99; */
    }
    .flex-class{
        border: 10px solid white;
    }
    .main-border {
        border: none;
    }
    .collar-button{
        display: none;
    }

    .final-aboutus {
        position: relative;
        top: 11rem;
        padding: 0;
    }

    .final-aboutus .about-us .info {
        width: auto !important;
    }

    .nav-part-1 {
        display: none !important;
    }

    .nav-part-2 {
        display: block !important;
    }

    .wp-hide {
        margin: 0px 0px 0px 140px;
    }

    .content .map {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content .map iframe {
        height: 300px;
        width: 300px;
        padding-left: -10px;
    }

    .box .content:before {
        width: 75%;
    }

    .bcollar {
        position: relative;
        top: 210px;
        margin-bottom: 200px;
    }

    .main-border {
        margin-top: 115px;
        background: url(../images/20230304_193132_0000.png) no-repeat !important;
        background-size: 100% !important;
        z-index: -1;
    }
    .product-main{
        position: relative;
        top: 200px;
    }

    footer{
        position: relative;
        /* top: 195px; */
    }
    .p-info{
        margin-bottom: 225px;
    }
    .side-button{
        display: flex;
        position: relative;
        top: 115px;
        
    }
    .side-button ul{
        display: flex;
        width: 100%;
        justify-content: space-around;
        list-style: none;
    }
    .side-button img{
        height: 50px;
        width: 50px;
    }
    /* .collar-adding{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        top: 120px;
    }
    .collar-adding img{
        height: 300px;
        width: 100%;
    } */
}

@media (max-width:410px) {
    .side-button{
        position: relative;
        top: 90px;     
    }
    .box .content:before{
        width: 70%;
    }
    .content .map iframe {
        width: 120px;
        height: 200px;
    }

    .final-aboutus {
        position: relative;
        top: 2%;
    }
    .final-aboutus .slide1{
        width: auto !important;
    }
    .pheading h1{
        font-size: 25px;
    }
    .map{
        width: auto;
        justify-content: start !important;
    }
    footer{
        overflow-x: hidden;
    }
}


@media(max-width:250px){
    .center .content .text{
        font-size: 0.8rem;
    }
    .right-box .container{
        padding: 20px;
    }
    .final-aboutus{
        top: 2rem;
    }
}
/* 
 @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */