@media (max-width: 1170px) {
    .final-aboutus .about-us .info {
        justify-content: space-around;
        margin-left: 0px;
    }
}


@media (max-width:992px) {
    .final-aboutus .about-us {
        flex-wrap: wrap;
    }

    .final-aboutus .about-us .info {
        flex-wrap: wrap;
        /* width: auto !important; */
        height: auto !important;
    }

}

@media (max-width:976px) {
    .final-aboutus .cont {
        margin-bottom: 30px;

    }

    .final-aboutus .about-us .info {
        width: 450px !important;
    }
}

@media(max-width:900px) {

    .nav nav .left,
    .nav nav .right {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0;
        padding: 0;
    }

    .nav nav ul {
        width: 330px;
        margin: 0;
        padding: 0;
    }

    .bcollar {
        justify-content: center;
    }

    .centering {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .card3 {
        margin-left: 0;
    }
}

@media (max-width:768px) {
    #wp-hide {
        display: block !important;
    }

    .back-collar,
    .back-collar-add,
    .collar-btn {
        display: none;
    }

    .nav nav .left,
    .left-add,
    .left-nav-add {
        transform: translate(0) !important;
        background-color: transparent !important;
        font-size: 20px !important;
        border-radius: 0px 0px 0px 0px !important;
        height: auto !important;
        margin: 0px !important;
        padding: 0px !important;
        position: relative !important;
        top: 0px;
        border-radius: 20px !important;
        box-shadow: 0px 0px 0px 0px !important;
    }

    .nav nav .right,
    .right-add,
    .right-nav-add {
        transform: translate(0) !important;
        background-color: transparent !important;
        font-size: 20px !important;
        border-radius: 0px 0px 0px 0px !important;
        height: auto !important;
        margin: 0px !important;
        padding: 0px !important;
        position: relative !important;
        top: 0px;
        border-radius: 20px !important;
        box-shadow: 0px 0px 0px 0px !important;
    }

    .line1 {
        transform: translate(0) scale(1);
        opacity: 0;
    }

    .line2 {
        transform: translate(0) scale(1);
        opacity: 0;
    }

    .lining {
        background-color: rgba(255, 255, 255, 0.2) !important;
        z-index: 20 !important;
        position: relative !important;
        top: 19px;
        color: black;
        /* box-shadow: 1px 6px 23px 4px rgb(105 105 105 / 60%); */
        box-shadow: 0px 1px 18px 3px rgb(75 75 75 / 70%);
        backdrop-filter: blur(5px);
        width: 1500px !important;
    }

    .back-collar {
        background: none;
        border: none;
        box-shadow: none;
    }

    .nav nav .image {
        width: 55px;
        height: 55px;
    }

    .nav nav .image img {
        width: 55px;
        height: 55px;
    }

    .nav nav ul {
        width: 240px;
        font-size: 16px !important;
    }

    .nav nav ul li {
        padding: 0 10px;
    }
}

@media(max-width:576px) {
    .main-border {
        border: none;
    }

    .final-aboutus {
        position: relative;
        top: 14rem;
    }

    .final-aboutus .about-us .info {
        width: auto !important;
    }

    .nav-part-1 {
        display: none !important;
    }

    .nav-part-2 {
        display: block !important;
    }

    .wp-hide {
        margin: 0px 0px 0px 140px;
    }

    .content .map {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content .map iframe {
        height: 300px;
        width: 300px;
        padding-left: -10px;
    }

    .box .content:before {
        width: 75%;
    }

    .bcollar {
        position: relative;
        top: 210px;
    }

    .main-border {
        margin-top: 115px;
        background: url(../images/20230304_193132_0000.png) no-repeat !important;
        background-size: 100% !important;
        z-index: -1;
    }
    .product-main{
        position: relative;
        top: 200px;
    }

    footer{
        position: relative;
        top: 195px;
    }
    /* .collar-adding{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        top: 120px;
    }
    .collar-adding img{
        height: 300px;
        width: 100%;
    } */
}

@media (max-width:410px) {
    .box .content:before{
        width: 70%;
    }
    .content .map iframe {
        width: 120px;
        height: 200px;
    }

    .final-aboutus {
        position: relative;
        top: 4%;
    }
    .final-aboutus .slide1{
        width: auto !important;
    }
    .pheading h1{
        font-size: 25px;
    }
    .map{
        width: auto;
        justify-content: start !important;
    }
    footer{
        overflow-x: hidden;
    }
}


@media(max-width:250px){
    .center .content .text{
        font-size: 0.8rem;
    }
    .right-box .container{
        padding: 20px;
    }
}
/* 
 @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */