@media (max-width: 1195px) {
    .final-aboutus .about-us .info {
        justify-content: center;
        margin-left: 0px;
        left: 0;
    }

    footer .main-content {
        flex-direction: column;
    }

    .final-aboutus .cont {
        right: 0px;
    }

}


@media (max-width:992px) {
    .final-aboutus .about-us {
        flex-wrap: wrap;
    }

    .final-aboutus .about-us .info {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        align-content: center !important;
        flex-wrap: wrap;
        height: auto !important;
    }

}


@media(max-width:976px) {

    .nav nav .left,
    .nav nav .right {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0;
        padding: 0;
    }

    .nav nav .image img {
        top: 80px;
    }

    .nav nav .left {
        transform: translate(127px, -21px) rotate(45deg);
    }

    .nav nav .right {
        transform: translate(-127px, -21px) rotate(-45deg);
    }

    .back-collar {
        height: 58px;
        width: 31em;
    }

    .collar-button {
        top: 244px;
        left: 0px;
        height: 200px;
        width: 82px;
    }

    .collar-button ul {
        height: 100%;
    }

    .collar-button ul li {
        margin: 19px 6px;
    }

    .collar-button ul li img {
        height: 50px;
        width: 50px;
    }

    .nav nav ul {
        width: 330px;
        margin: 0;
        padding: 0;
    }

    .bcollar {
        justify-content: center;
    }

    .centering {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .final-aboutus .cont {
        margin-bottom: 30px;
    }

    .final-aboutus .about-us .info {
        width: 450px !important;
    }

    .card3 {
        margin-left: 0;
        padding: 20px;
    }
}

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box {
        margin: 5px 0;
    }
}


@media (max-width:768px) {

    .nav nav .left-nav-add li,
    .nav nav .right-nav-add li {
        padding: 2px 11px;
    }

    .nav nav .left-nav-add {
        width: 230px !important;
        font-size: 16px;
        padding: 0px !important;
        margin: 0px !important;
    }

    .nav nav .right-nav-add {
        width: 241px !important;
        margin: 0px !important;
        padding: 0px !important;
        font-size: 16px;
    }

    .logo-add {
        height: 100% !important;
        width: auto !important;
        display: flex;
        justify-content: center;
    }

    .logo-add img {
        height: 50px !important;
        width: 50px !important;
    }

    .final-aboutus .about-us {
        justify-content: center;
    }
}

@media(max-width:576px) {
    .final-aboutus .about-us .info h1 {
        font-size: 30px !important;
    }

    .flex-class {
        border: 10px solid white;
        overflow-x: hidden;
    }

    .main-container {
        padding: 0px;
    }

    .main-container {
        padding: 0px;
    }

    .main-border {
        border: 15px solid red;
        padding: 4px;
    }

    .collar-button {
        display: none;
    }

    .final-aboutus {
        margin: 0;
        position: relative;
        top: 0.5rem;
    }

    .final-aboutus .about-us .info {
        width: auto !important;
    }

    .nav-part-1 {
        display: none !important;
    }

    .nav-part-2 {
        display: block !important;
        background-color: white;
        display: flex;
        justify-content: space-around;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        /* display: none; */
        background-color: white;
    }

    .d-none {
        display: none !important;
    }

    .d-flex {
        display: flex !important;
    }

    .navbar-nav a {
        list-style: none;
        padding: 1rem;
        text-decoration: none;
    }

    .nav-part-2 .container-fluid {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    .wp-hide {
        margin: 0px 0px 0px 140px;
    }

    .content .map {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content .map iframe {
        height: 300px;
        width: 300px;
        padding-left: -10px;
    }

    .box .content:before {
        width: 75%;
    }

    .bcollar {
        position: relative;
        top: 210px;
        margin-bottom: 200px;
    }

    .flex-class {
        border: none !important;
        position: relative;
        top: 75px;
        background: url(../images/20230304_193132_0000.png) no-repeat !important;
        background-size: 100% !important;
    }

    .main-border {
        margin-top: 7rem;
        animation: none;
    }

    .product-main {
        position: relative;
    }

    .p-info-flex {
        margin: 2px;
    }

    .p-info-head {
        font-size: 1.2rem;
    }

    footer {
        position: relative;
    }

    .p-info {
        margin-bottom: 5rem;
    }

    .side-button {
        display: flex;
        position: relative;
        top: 35px;

    }

    .side-button ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
        list-style: none;
    }

    .side-button img {
        height: 50px;
        width: 50px;
    }

    .info-content-add {
        width: 100%;
    }

    .bottom {
        z-index: 0;
        position: relative;
    }
}

@media (max-width:478px) {
    .side-button {
        position: relative;
        top: -9px;
    }

    .box .content:before {
        width: 70%;
    }

    .content .map iframe {
        width: 120px;
        height: 200px;
    }

    .about-us-desc {
        padding: 0.5rem;
    }

    .final-aboutus .slide1 {
        width: auto !important;
    }

    .pheading h1 {
        font-size: 25px;
    }

    .code-wrapper .page__2 button {
        left: 90px;
    }

    .map {
        width: auto;
        justify-content: start !important;
    }

    footer {
        overflow-x: hidden;
    }
}


@media(max-width:250px) {
    .center .content .text {
        font-size: 0.8rem;
    }

    .right-box .container {
        padding: 20px;
    }

    .final-aboutus {
        top: 2rem;
    }
}