/*                                              Index

1. Main Container Body
2. Nav Bar Header
3. About Us
4. Product
5. Carousel
6. Contact Us */


/* Main Container Body */
:root{
    --whitecollar:white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    /* background: linear-gradient(-45deg, #5AA033, #FFE900, #F77528, #38297F); */
    /* background-size: 400% 1100%; */
    animation: gradient 10s ease infinite;
    /* height: 100vh; */
    overflow-x: hidden;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }


.main-container {
    /* top: 272px; */
    /* position: relative; */
    /* border: 20px solid #a0241c; */
    /* border-top: none; */
}
.flex-class{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    /* min-width: min-content; */
}
.main-border{
    border: 30px solid rgb(255, 255, 255); 
    border-top: none;
     /* width: min-content; */
     width: 100%;
     /* margin: 0px 25px; */
}

/* Nav Bar Header */

* {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: grey; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.nav nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav nav ul {
    width: 408px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    margin: 11px;
    /* background-color: ; */
    list-style: none;
}

.nav nav ul li {
    padding: 21px 45px;
    cursor: pointer;
}
.nav  nav ul li a{
    text-decoration:none ;
color: black;
}

.nav nav .left {
    position: relative;
    transform-origin: left;
    transform: translate(126px, -21px) rotate(45deg);
    transition: 1s all;
    /* box-shadow: 4px 5px 6px 2px rgb(82, 82, 82,0.8); */
    box-shadow: 3px 2px 11px 5px rgba(85, 85, 85, 0.8);
    background-color: var(--whitecollar);
    border-radius: 8px 12px 15px 13px;
}
.nav nav .image {
    background: white;
    height: 80px;
    width: 100px;
}

.nav nav .image img {
    height: 80px;
    width: 100px;
}

.nav nav .right {
    transition: 1s all;
    transform-origin: right;
    transform: translate(-126px, -21px) rotate(-46deg);
    box-shadow: rgb(109 80 80 / 80%) -2px 2px 4px 5px;
    background-color: var(--whitecollar);
    border-radius: 11px 9px 12px 15px
}

.line1,
.line2 {
    background-color: var(--whitecollar);
    width: 100%;
    z-index: -1;
    text-indent: 100%;
    overflow: hidden;
    text-decoration: none;
    transition: 1s all;
    box-shadow: -4px 8px 38px 0px rgba(65, 65, 65, 0.9);
}

.line1 {
    height: 48px;
    transform-origin: right;
    transform: translate(188px, 17px) rotate(-32deg);
    padding: 4px 0px;
    min-width: 45em;
    opacity: 1;
}

.line2 {
    height: 48px;
    transform: translate(-182px, 11px) rotate(32deg);
    transform-origin: left;
    padding: 4px 0px;
    min-width: 45em;
    opacity: 1;

}

.lining {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #a0241c ; */
}
/* back of collar */
.back-collar{
    box-shadow: 0px 1px 8px 7px rgb(75, 75, 75,0.7);
    z-index: -2;
    position: absolute;
    border: 2px solid #a71c12;
    height: 130px;
    width: 37em;
    background: var(--whitecollar);

}
.back-collar-add{
    background: none;
    border: none;
    box-shadow:none ;
}

/* left add js class  */
.left-add {
    transform: translate(0) !important;
    background-color: transparent !important;
    font-size: 20px !important;
    border-radius: 0px 0px 0px 0px !important;
    height: auto !important;
    margin: 0px !important;
    padding: 0px !important;
    position: relative !important;
    top: 0px;
    border-radius: 20px !important;
    box-shadow: 0px 0px 0px 0px !important;
}

/* right add js class */
.right-add {
    transform: translate(0) !important;
    background-color: transparent !important;
    font-size: 20px !important;
    border-radius: 0px 0px 0px 0px !important;
    height: auto !important;
    margin: 0px !important;
    padding: 0px !important;
    position: relative !important;
    top: 0px;
    border-radius: 20px !important;
    box-shadow: 0px 0px 0px 0px !important;


}

/* line1  add class js */
.line1-add {
    transform: translate(0) scale(1);
    opacity: 0;
}

.line2-add {
    transform: translate(0) scale(1);
    opacity: 0;
}

/* right-nav-add */
.right-nav-add {
    margin: 13px !important;
    padding: 10px !important;
    height: 65px !important;
}

/* left-nav-add */
.left-nav-add {

    margin: 13px !important;
    padding: 10px !important;
    height: 65px !important;

}

/* logo-add js */
.logo-add {
    z-index: 1 !important;
    position: relative !important;
    top: 0px;
    border-radius: 5px;
}

/* lining js  */
.lining-add {
    background-color:  rgba(255, 255, 255, 0.2)!important;
    z-index: 20 !important;
    position: relative !important;
    top: 19px;
    color: black;
    /* box-shadow: 1px 6px 23px 4px rgb(105, 105, 105,0.6) ; */
    box-shadow: 0px 1px 18px 3px rgb(75, 75, 75,0.7);
    backdrop-filter:  blur(5px);
    /* width: 1500px !important; */
}


/* collar button */
.flexing{
display: flex;
    justify-content: center;
    align-items: center;
 /* min-width: 1112px; */
 min-width: min-content;
    

}
.collar-btn{
    display: flex;
/* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    /* min-width: 86rem; */
}
.collar-button{
  
    z-index: 4;
    position: relative;
    top: 304px;
    height: 366px;
    width: 122px;
    background-color: var(--whitecollar);
    /* #59111C */
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 1px 8px 5px rgb(70 70 70 / 74%);
    
    
}
.collar-button ul{
    
    text-align: center;
    height: 420px;
    flex-direction: column;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.collar-button ul li{
    list-style: none;
    padding: 0px 0px;
    margin: 41px 12px;
    font-weight: 10px;
    
}
.collar-button ul li img{
    border-radius: 50px;
    box-shadow: 0px 1px 8px 5px rgb(70 70 70 / 74%);
    height: 60px;
    width: 59px;
}
/* collar button js add  */
.collar-button-add{
    transform: translate(0) scale(1);
    opacity: 0;
transition: 1s all;
}
/* About Us */


.final-aboutus {
    display: flex;
    flex-direction: column;
    padding: 6px;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.final-aboutus .about-us {
    /* background-color: white; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.final-aboutus .heading h1 {
    text-align: center;
    padding: 19px;
    margin: 20px;
    font-size: 45px;
    text-decoration: underline;
    color: #a0241c;
}

.final-aboutus .card{
    border: 0px !important;
    --bs-card-bg: none;
}

.final-aboutus .pocket {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.final-aboutus .card1-info {
    border: 13px solid #a0241c;
    height: 178px;
    width: 275px;
    position: relative;
    top: 34px;
    /* border-bottom: rgb(230, 230, 230); */
}

.final-aboutus .card1 {
    border: 33px solid #a0241c;
    height: 322px;
    width: 297px;
    border-radius: 16px 16px 89px 89px;
}

.final-aboutus .about-us .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 179px;
    width: 612px;
    height: 450px;
    margin-top: 71px;
    background-color: whitesmoke;
    border-top: whitesmoke;
    box-shadow: 0px 14px 25px -3px rgb(134, 130, 130);
    position: relative;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.final-aboutus .about-us .info:after {
    content: '';
    position: absolute;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.final-aboutus .info h1 {
    text-decoration: underline;
    font-size: xx-large;
}

.final-aboutus .about-us .info p {
    text-align: center;
    text-align: start;
    font-size: larger;
    padding: 8px;
    margin: 23px;
    color: #a0241c;
}

/* new */

.final-aboutus .container .card .icon {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 180%;
    background: #a0241c;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    border-radius: 8px 8px 40px 40px;
}

.final-aboutus .container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #fff;
}

.final-aboutus .container .card .slide {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.final-aboutus .container .card .slide.slide1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1;
    transition: .7s;
    transform: translateY(-300px);
}


.final-aboutus .container .card .slide.slide2 {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: whitesmoke;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: .8s;
    transform: translateY(-185px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    border-radius: 10px 10px 0px 0px;
}

.final-aboutus .container .card:hover .slide.slide2 {
    transform: translateY(-300px);
}

.final-aboutus .container .card .slide.slide2::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: #2c73df;
}

.final-aboutus .container .card .slide.slide2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.final-aboutus .container .card .slide.slide2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    color: #414141;
}

.final-aboutus .cont {
    position: relative;
    top: 200px;
}


/* Product */
.pheading h1{
    text-align: center;
    padding: 19px;
    margin: 30px;
    font-size: 45px;
    text-decoration: underline;
    color: #a0241c;
}
.code-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #D9DCD6; */
   min-height: 80vh;
    flex-wrap: wrap;
}

.code-wrapper .book {
    height: 25rem;
    width: 20rem;
    font-size: 1.4rem;
    box-shadow: 1rem 2rem 3rem rgba(#000, .25);
    text-align: center;
    position: relative;
    color: #484e4a;
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
}

.code-wrapper .page {
    width: 100%;
    height: 25rem;
    perspective: 1500px;
}

.code-wrapper .page .page__1 {
    background-color: #0D5C63;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 1s .3s;
    transform-origin: 0 50%;
    z-index: 2;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.code-wrapper .page__1 p{
    position:absolute;
    color: black;
    font-weight:500;
    top:0;
    left:0;
    width:100%;
    height: 70%;
    margin-top:200px;
    margin-bottom: 15px;
    padding:0 0 20px;
}

.code-wrapper .page__2 {
    background-color: #BAA898;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: rgba(146, 33, 23, 0.37) 0px 8px 32px 0px;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    
}
.code-wrapper .page__2 img{
    position:absolute;
    top: 25px;
    left:0;
    width:90%;
    height: 70%;
    border-radius: 10px;
    object-fit: cover;
}
.code-wrapper .page__2 p{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 70%;
    margin-top:300px;
    font-size: small;
    margin-bottom: 15px;
    padding:0 0 20px;
}
.code-wrapper .page__2 button{
    position:absolute;
    top:30px;
    left:110px;  
    height: 40px;
    margin-top:320px;
    border: none;
    font-size: 12px;
    background-color:#a0241c ;
    border-radius: 6px;
    padding:8px 16px;
    color: white;
}
.code-wrapper .page__2 button:hover{
    background-color: red;
    color:black;
}

.code-wrapper .page:hover .page__1 {
    transform: rotateY(-122deg);
    box-shadow: 1.5rem 2rem 3rem rgba(#000, .25);
}

.code-wrapper .page:hover .page::after {
    opacity: 1;
}

/* carosuel css */
.code-wrapper .carousel {
    text-align: center;
    /* background-color: lightblue; */
    display: none;
    filter: blur(0px) !important;
    z-index: 5;
}

.code-wrapper .book {
    margin-left: 10px;
    /* filter: blur(10px); */
    /* border: 2px solid #a0241c; */
}

.code-wrapper .blur {
    filter: blur(10px);
}

/* Carousel */
.carousel-effect{
    overflow: hidden;
}
.carousel-effect .main-card {
    margin: 57px 60px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 1250px;
    height: 544px;
}

.carousel-effect img {
    margin: 0px 0px 40px 0px;
    height: 260px;
    border-radius: 1% !important;
    height: 315px;
}

.carousel-effect .card-c {
    width: 378px;

}

.carousel-effect .card-body {
    margin: 2px 21px;
}

.carousel-effect .zoom {
    padding: 30px;
    transition: transform .4s;
    height: 480px;
    margin: 20px 5px;
    overflow: hidden;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px ) !important;
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.carousel-effect .zoom:hover {
    transform: scale(1.5);

}

.carousel-effect .zoom:hover .active {
    filter: blur(10px);
}

.carousel-effect .main-card:hover .zoom {
    opacity: 0.5;
    filter: blur(5px);
    transform: scale(0.8);
}

.carousel-effect .main-card .zoom:hover {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1.1);
    margin-top: 20px;
    background: #a0251c;
}

.carousel-effect .main-card:hover .owl-item {

    filter: blur(0px);
}

.close {
    position: absolute;
    top: 60px;
    right: 70px;
    font-weight: bolder;
    font-size: 26px;
    backface-visibility: visible;
    border: white;
    background: transparent;
    color: red;
    z-index: 3;
}

/* Contact Us */


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

footer{
  width: 100%;
  background: #a0251c;
  color: white;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: white;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.center .content .social{
  margin: 20px 0 0 0;
}
.center .content .social a{
  padding: 0 2px;
  color:white;
}
.center .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.center .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}

.content .map iframe{
  
  border-radius: 4px;
}


.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}




.container{
  padding: 70px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #969494;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #969494;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #969494;
}
:-moz-placeholder { /* Firefox 18- */
  color: #969494;
}


.animate-top{
  position:relative;
  animation:animatetop 0.4s
}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.532);
}

.modal-content {
  margin: 8% auto;
  border: 1px solid #888;
  width: 475px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #006edb;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    margin-top: 0;
}
h5.modal-title {
    font-size: 1.25rem;
    color: #000000;
}
.close1 {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    margin-top: 0;
}
.modalbutton.close1 {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
.modal-header .close1 {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}
.close1:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.modal-body {
    flex: 1 1 auto;
    padding: 1rem;
}
.modal-body p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #006edb;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}
.btn-primary {
    color: #fff;
    background-color: #1a1a1a;
    border-color: #1a1a1a;
    display: block;
    margin: 10px auto;
}
.btn-primary:hover {
    color: #fff;
    background-color: #f12020;
    border-color: #f12020;
}
.btn:focus, .btn:hover {
    text-decoration: none;
}
.container h2{text-align: center;}
.form-group {
    margin-bottom: 15px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-control {
    display: block;
    width: 95%;
    /*height: 34px;*/
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
/* below collar */
.bcollar{
  /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 150px 0px;
}

/* review section */

.card3 {
  width: 471px;
  height: 367px;
  margin-left: 90px;
  min-height: 256px;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 1rem;
  padding: 1.1rem;
  z-index: 10;
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  
}

.title3 {
  font-size: 31px;
  font-family: Merriweather;
  flex-grow: 1;

}
  
  .average-rating {
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
  }
  
  .average-rating-section {
    font-weight: 500;
    font-size: 14px;
    padding: 17px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 7px 20px 0 rgba(115, 116, 156, .08);
    text-align: center;
    min-width: 150px;
  }
  
  .star-icon {
    width: 25px;
    height: 25px;
  }
  
  .average-rating-section .star-icon {
    width: 24px;
    height: 22px;
  }
  
  .star-icon .icon-path {
    fill: #FFD66C;
    stroke: #EFB153;
    font-size: 21px;
  }
  
  .header3 {
    display: flex;
    align-items: center;
    gap: 0px;
    margin-bottom: 6px;
  }
  
  .review-rows {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    align-items: center;
    column-gap: 10px;
    row-gap: 9px;
    padding-left: 27px;
    padding-right: 30px;
    margin-top: 7px;
  }
  
  .review-section {
    margin-bottom: 56px;
  }
  
  .review-number {
    font-weight: bold;
    text-align: end;
    justify-self: flex-end;
  }
  
  .review-bar {
    --border-width: 1px;
    position: relative;
    flex-grow: 1;
    background-color: #EEEEEE;
    border: 1px solid #C9C9C9;
    height: 10px;
    border-radius: 100px;
  }
  
  .review-bar::after {
    content: "";
    position: absolute;
    top: calc(-1 * var(--border-width));
    bottom: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    right: calc(-1 * var(--border-width));
    width: calc(2 * var(--border-width) + var(--width));
    border: 1px solid #EFB153;
    background-color: #FFD66C;
    border-radius: 100px;
  }
  
  .review-bar.empty::after {
    content: none;
  }
  
  .review-row:last-child {
    margin-bottom: 0;
  }
  
/* qr section */
.centering{
  
}
  .card4 {
     backdrop-filter: blur(10px);
    background: rgba(252, 246, 246, 0.3);
    border-radius:20px ;
    /* background: transparent; */
    height: 370px;
    width: 100%;
   /* border: 2px solid red; */
   /* height: min-content; */
   display: flex;
   flex-direction: column-reverse;
   width: 200px;
   justify-content: center;
   align-items: center;
   box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
   margin-right: 90px;

   }
.card4 img{
  background: rgba(252, 246, 246, 0.3);
  backdrop-filter: blur(30px);
   height: 100px;
   width: 100px;
  /* border: 2px solid red; */

}
.card4 h3{
   font-size: 10px;
  /* border: 2px solid red; */
    
}

/* heading in about us animation  */
.blob {
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient(
      180deg,
      rgba(47, 184, 255,0.42) 31.77%,
      #5c9df1 100%
    );
    mix-blend-mode: color-dodge;
    -webkit-animation: move 15s infinite alternate;
            animation: move 15s infinite alternate;
    transition: 0.2s cubic-bezier(0.07, 0.8, 0.16, 0.8);
}
  
  .blob:hover {
    width: 520px;
    height: 520px;
    -webkit-filter: blur(30px);
            filter: blur(30px);
    box-shadow:
      inset 0 0 0 5px rgba(255,255,255, 0.6),
      inset 100px 100px 0 0px #fa709a,
      inset 200px 200px 0 0px #784ba8,
      inset 300px 300px 0 0px #2b86c5;
  }
  
  @-webkit-keyframes move {
    from {
      transform: translate(-100px, -50px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
  
    to {
      transform: translate(500px, 100px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }
  
  @keyframes move {
    from {
      transform: translate(-100px, -50px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
  
    to {
      transform: translate(500px, 100px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }


/* info animation */

  .wrapper {
    position: absolute;
    top:-5px;
    left: -140px;
    width: 100%;
    height: 100%;
    filter: url("#filter");
    z-index: -1;
  }
  
  .ball {
    width: 300px;
    height: 300px;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
  
  
  }
  .ball:before {
    background: #00ffdd;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
  }
  .ball:nth-child(1) {
    transform: translate(-66px);
    -webkit-animation: x-axis-lateral 2s infinite alternate ease-in-out;
            animation: x-axis-lateral 2s infinite alternate ease-in-out;
  }
  .ball:nth-child(1):before {
    -webkit-animation: y-axis-lateral 1s infinite 0.1s alternate ease-in-out;
            animation: y-axis-lateral 1s infinite 0.1s alternate ease-in-out;
  }
  .ball:nth-child(2) {
    -webkit-animation: x-axis 2s infinite alternate ease-in-out;
            animation: x-axis 2s infinite alternate ease-in-out;
  }
  .ball:nth-child(2):before {
    -webkit-animation: y-axis 1s infinite 0.5s alternate ease-in-out;
            animation: y-axis 1s infinite 0.5s alternate ease-in-out;
  }
  .ball:nth-child(3) {
    transform: translate(66px, 78px);
    -webkit-animation: x-axis-lateral 2s infinite alternate ease;
            animation: x-axis-lateral 2s infinite alternate ease;
  }
  .ball:nth-child(3):before {
    -webkit-animation: y-axis-lateral 1s infinite 0.4s alternate ease-in-out;
            animation: y-axis-lateral 1s infinite 0.4s alternate ease-in-out;
  }
  
  @-webkit-keyframes x-axis {
    0% {
      transform: translate(-96px);
    }
    100% {
      transform: translate(96px);
    }
  }
  
  @keyframes x-axis {
    0% {
      transform: translate(-96px);
    }
    100% {
      transform: translate(96px);
    }
  }
  @-webkit-keyframes y-axis {
    0% {
      transform: translateY(42px);
    }
    100% {
      transform: translateY(-66px) scale(0.8);
      background: #00fffb;
    }
  }
  @keyframes y-axis {
    0% {
      transform: translateY(42px);
    }
    100% {
      transform: translateY(-66px) scale(0.8);
      background: #00fffb;
    }
  }
  @-webkit-keyframes x-axis-lateral {
    0% {
      transform: translate(-36px);
    }
    100% {
      transform: translate(36px);
    }
  }
  @keyframes x-axis-lateral {
    0% {
      transform: translate(-36px);
    }
    100% {
      transform: translate(36px);
    }
  }
  @-webkit-keyframes y-axis-lateral {
    0% {
      transform: translateY(12px);
    }
    100% {
      transform: translateY(-60px);
      background: #00fffb;
    }
  }
  @keyframes y-axis-lateral {
    0% {
      transform: translateY(12px);
    }
    100% {
      transform: translateY(-60px);
      background: #00fffb;
    }
  }